.cards {
  /* border: 1px solid white; */
  width: 100%;
  margin: 10px auto 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  min-width: 200px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  color: gray;
}

.hoverable:hover {
  transform: scale(1.05);
  box-shadow: 0.5px 0.5px 20px rgb(89, 24, 149);
}

.card > h2,
.card > h1 {
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card > p {
  margin-top: 5px;
  color: black;
  font-weight: 600;
}

.confirmed {
  border-bottom: 10px solid #802696;
  max-width: 200px;
}
.recovered {
  border-bottom: 10px solid #27b376;
  max-width: 200px;
}
.deaths {
  border-bottom: 10px solid #bf212f;
  max-width: 200px;
}
