body {
  height: 100%;
  margin: 0;
  background-color: royalblue;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  width: 100%;
}

.App-header > img {
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***
*   My CSS
**/

.App-footer {
  background-color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.Layout {
  text-align: left;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icons > a {
  margin: 5px;
}

.icons > a > img {
  transition: all 0.5s;
}

.icons > a > img:hover {
  transform: rotate(30deg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  color: gray;
}

.hoverable:hover {
  transform: scale(1.05);
  box-shadow: 0.5px 0.5px 20px rgb(21, 52, 143);
}

.card > h2,
.card > h3,
.card > h1 {
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card > p {
  margin-top: 5px;
  color: black;
  font-weight: 600;
}

.confirmed {
  border-bottom: 10px solid #802696;
  width: 200px;
}
.recovered {
  border-bottom: 10px solid #27b376;
  width: 200px;
}
.deaths {
  border-bottom: 10px solid #bf212f;
  width: 200px;
}

.container {
  max-width: 680px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.dark-alpha {
  background-color: rgba(65, 64, 64, 0.4);
}

.countryName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  margin: 10px;
}

.countryName > * {
  margin: 5px;
}

.countryConfirmed {
  border-top: 15px solid #802696;
  width: 130px;
}

.countryRecovered {
  border-top: 15px solid #27b376;
  width: 130px;
}
.countryDeaths {
  border-top: 15px solid #bf212f;
  width: 130px;
}
.countryTests {
  border-top: 15px solid royalblue;
  width: 130px;
}

.countrySelect {
  width: 100%;
  border: 0px;
  color: gray;
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.countrySelect:focus {
  outline: none;
}

.btPrimary {
  padding: 8px 10px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: rgb(77, 121, 253)
    radial-gradient(circle, transparent 1%, rgb(77, 121, 253) 1%) center/15000%;
}

.ripple:active {
  background-color: rgb(54, 99, 236);
  background-size: 100%;
  transition: background 0s;
}
